@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>Your timezone is:</h5>
        <div id="timezone-container"></div>
    <h5>Your current ip is:</h5>
        <div id="ip-container"></div>
</div>

@section Scripts {
<script>
$(document).ready(() => {
    // Display the timezone
    $("#timezone-container").text(Intl.DateTimeFormat().resolvedOptions().timeZone); 

    // Creates a request to apify.org which returns the external ip of the client then display it
    $.getJSON('https://api.ipify.org?format=jsonp&callback=?', function(data) {
        $("#ip-container").text(data.ip)
    });
})
</script>
}
